.chat-list{
    list-style: none;
}
.list {
width: 100%;
border-bottom: .2px solid rgb(66, 64, 64);
}
.profile{
    text-decoration: none;
}
.profile:hover{
    text-decoration: none;
}
.profile-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.info{
    width: 100%;
}